body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    
}

/* Styles for the outer <div> */
div {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
  
    
    

  }
  
  /* Styles for the <h1> element */
  h1#content {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 37px;
    letter-spacing: 5.4px;
    word-spacing: -3.8px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
  }
  
  /* Styles for the <button> element */
  .btn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #212529;
    color: #212529;
  }
  .btn:hover {
    color: #fff;
  }
  .btn:hover:after {
    width: 100%;
  }
  .btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #212529;
  }
  


